@import "https://fonts.googleapis.com/css2?family=Bevan&family=IBM+Plex+Serif:wght@400;600&display=swap";

/* General setup */

html {
  font-family: "IBM Plex Serif", serif;
}
h1 {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 3px;
}
h2 {
font-family: "Bevan", serif;
font-size: 2rem;
margin-bottom: 0;
letter-spacing: 1px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

/* General text spacing */

section h2 + p {
  text-indent: 2rem;
}

p,
li {
  line-height: 1.6;
  letter-spacing: 0.5px;
}

/* Link styling */

a {
  outline: none;
}

a[href*="http"] {
  padding-right: 16px;
  background: url("../external-link-52.png") no-repeat right center;
  background-size: 14px 14px;
}

a:link,
a:visited {
  color: #aa6666;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #773333;
}